Package: debup
Version: 2.1.0
Section: utils
Priority: optional
Architecture: all
Depends: bash (>= 4.0), curl, jq
Maintainer: Ruvyrom <https://github.com/Uraam/debup>
Description: A command-line (CLI) DEB package manager for Debian/Ubuntu-based distributions.
 Add a Git repository, check for new versions, and perform updates or installations via APT.
